---
import * as resrevia from "../../projects/project1.md";
---

<article class="relative text-white">
  <div class="">
    <div
      class="mt-3 bg-gray-600 text-white rounded-b lg:rounded-b-none lg:rounded-r flex flex-col justify-between leading-normal"
    >
      <div class="px-10 py-10">
        <h1 class="font-bold text-4xl">
          {resrevia.frontmatter.title}
        </h1>
        <div class="py-5 text-sm font-regular text-gray-900 flex">
          <a href="#" class="flex flex-row items-center text-gray-200 mr-3">
            <i class="fa-solid fa-user"></i>

            <span class="ml-1"> {resrevia.frontmatter.name}</span></a
          >

          <span class="ml-3 text-white flex flex-row items-center">
            <i class="fa-regular fa-calendar-days"></i>

            <span class="ml-1"> {resrevia.frontmatter.date}</span>
          </span>
        </div>
        <hr />
        <p class="text-base leading-8 my-5">
          {resrevia.frontmatter.description}
        </p>

        <div class="flex justify-center items-center">
          <img class="w-1/2 h-full" src={resrevia.frontmatter.cover} alt="" />
        </div>

        <h3 class="text-2xl font-bold my-5">
          #1. {resrevia.frontmatter.title1}
        </h3>

        <p class="text-base leading-8 my-5">
          {resrevia.frontmatter.features}

          <h3 class="text-2xl font-bold my-5">
            #2. {resrevia.frontmatter.title2}
          </h3>
          <p class="text-base leading-8 my-5">
            L'intégration doit être réalisée en HTML5 et CSS3, sans
            l’utilisation de frameworks tels que Bootstrap. Le champ de
            recherche doit être un champ de saisie modifiable, mais sans
            fonctionnalité de recherche implémentée. Chaque carte de type
            hébergement ou activité doit être cliquable dans son ensemble, avec
            des liens pour l'instant inactifs. Les filtres, bien que non
            fonctionnels, doivent afficher un style différent au survol. Dans le
            menu, les liens "Hébergements" et "Activités" devront agir comme des
            ancres et conduire aux sections correspondantes de la page. Bien
            qu’aucune maquette pour les résolutions tablette ne soit fournie,
            l'intégration doit en tenir compte pour assurer une bonne
            adaptation. Les images doivent être optimisées pour un rendu visuel
            attrayant, tout en minimisant le temps de chargement de la page. Le
            code doit utiliser des balises sémantiques et être exempt de toute
            erreur ou alerte lors de la validation W3C pour HTML et CSS. Le site
            doit être compatible avec les versions les plus récentes de Chrome
            et Firefox. Le HTML et le CSS doivent être séparés, et le dossier
            d'intégration doit être structuré de manière organisée. Enfin, le
            code doit être versionné avec Git et hébergé dans un dépôt distant,
            sur Github ou Gitlab.
          </p>

          <h3 class="text-2xl font-bold my-5">
            #3. {resrevia.frontmatter.title3}
          </h3>
          <p class="text-base leading-8 my-5">
            L'integration est faite sur l'éditeur Visual Studio Code avec les plugins Live server  {resrevia.frontmatter.note}
          </p>
          

          <div class="flex flex-col text-center  mt-8 w-full lg:flex lg:flex-row lg:gap-8">
            
              <a class=" w-full mb-6 btn" href="https://github.com/Muppssy/Adrien_Moncho_2_30062021"class="text"> Github</a>
          
              <a class=" w-full mb-6 btn" href="https://muppssy.github.io/Adrien_Moncho_2_30062021/"class="text">Voir projets</a>

          </div>
        </p>
      </div>
    </div>
  </div>
</article>
